html, body {
    height: 98.25%;
    width: 98.75%;
    font-family: sans-serif;
}

/* Brochure wrapper  */
.brochure {
    display: flex;
    height: 100%;
    width: 100%; 
    margin: 1%;
    border: 1px solid black;
    background-color: #f1f1f1;
}
.brochure > div {
    display: flex;
    flex-direction: column;
}

/****-- Column Containers --****/

.left {
    flex-basis: 32%;
    text-align: center;
}
.middle {
    flex-basis: 32%;
    margin: 1px solid#36454F;
}
.right {
    flex-basis: 32%;
    text-align: center;
}
.fold {
    flex-basis: 2%;
    background-color: #414a4c;
}

/****-- LEFT Items --****/

.left-top {
    flex-basis: 15%;
}
.left-middle-1 {
    flex-basis: 10%;
    font-size: 3.75vw;
    line-height: 0.4;
    text-decoration: underline;
    font-weight: lighter;
}
.left-middle-2 {
    flex-basis: 30%;
    display: flex;
    min-width: 0;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
}
.left-middle-2 > a {
    object-fit: contain;
    text-decoration: none;
    font-size: 4vh; 
}
#facebook {
    color: #B22234;
    text-shadow: 2px 2px 5px #B22234;
}
#instagram {
    color: white;
    text-shadow: 2px 2px black;
    text-shadow: 2px 2px 5px #EE82EE;
}
#twitter {
    color: #3C3B6E;
    text-shadow: 2px 2px 5px #3C3B6E;
}
.left-middle-3 {
    flex-basis: 8%;
}
.left-middle-4 {
    flex-basis: 27%;
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
    justify-content: center;
}
#social-media-image {
    object-fit: contain;
    width: 75%;
}
.left-bottom {
    flex-basis: 10%;
}

/****-- MIDDLE Items --****/

.middle-top {
    flex-basis: 5%;
}
.middle-middle-1 {
    flex-basis: 26%;
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
    justify-content: center;
}
#flag-image {
    object-fit: contain;
    width: 90%;
}
.middle-middle-2 {
    flex-basis: 15%;
    font-size: 5.5vh;
    text-decoration: underline;
    text-align: center;
    justify-content: center;
}
.middle-middle-3 {
    flex-basis: 39%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    text-indent: 5%;
    letter-spacing: .4rem;
    line-height: 0.7;
    font-size: 2vh; 
}
#phone-number {
    flex-basis: 30%;
    color: #B22234;
    text-shadow: 2px 2px 5px #B22234;
}
#email {
    flex-basis: 30%;
    color: white;
    text-shadow: 2px 2px 5px #EE82EE;
}
#address {
    flex-basis: 40%;
    color: #3C3B6E;
    text-shadow: 2px 2px 5px #3C3B6E;
}
.middle-bottom {
    flex-basis: 15%;
}

/****-- RIGHT Items --****/

.right-top {
    flex-basis: 5%;
}
.right-middle-1 {
    flex-basis: 20%;
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
    justify-content: center;
}
#ViT-image {
    object-fit: contain;
    width: 45%;
}
.right-middle-2 {
    flex-basis: 9%;
    font-size: 3.90vw;
    font-weight: bolder; 
    border-top: red solid .3em;
    border-bottom: blue solid .3em;
    border-left: #f1f1f1 solid .3em;
    border-right: #f1f1f1 solid .3em;
}

.right-middle-blank {
    flex-basis: 3%;
}
.right-middle-3, .right-middle-4 {
    flex-basis: 6%;
    color: black;
    text-align: center;
    line-height: 0.5;
    text-indent: 5%;
    letter-spacing: .3rem;
    font-size: 2vh; 
}
.right-middle-5 {
    flex-basis: 8%;
    display: flex;
    min-width: 0;
}
#media-player {
    object-fit: contain;
    width: 75%;
}
.right-middle-6 {
    flex-basis: 29%;
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
}
.right-middle-5, .right-middle-6{
    justify-content: center;
    align-items: center;
}

#space-image {
    object-fit: contain;
    width: 80%;
}
.right-bottom {
    flex-basis: 10%;
}
